#gjs-sm-svg {
    display: none;
}

#menu_bar {
    display: none;
    background: rgba(0, 0, 0, 0.25);
    position: absolute;
    left: 130px;
}

#dialog_container {
    background: inherit;
    color: inherit;
}

#color_picker {
    background: inherit;
}

div.jGraduate_StopSlider {
    background: transparent;
}

.jGraduate_tabs,
div.jGraduate_Form_Section {
    background-color: rgba(255, 255, 255, 0.25);
}

#color_picker label {
    color: inherit;
}

li.jGraduate_tab_current {
    background-color: rgba(255, 255, 255, 0.35);
}

#tools_top {
    position: relative;
    width: 200px;
    height: auto;
    background: transparent;
    left: 0;
    top: 0;
    overflow: hidden;
    padding: 0;
}

.draginput {
    width: 45%;
}